#logo {
    order: 1;
}
#search {
    border: 0;
    background-color: rgb(50,53,55);
    padding: 1em;
    border-radius: 5em;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    width: max-content;
}

#search input {
    border: 0;
    background-color: rgb(50,53,55);
    
    /* border-radius: 52px; */
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    color: white;
    padding-right: 40em;
    border-color: 0;
    color: white;
    font-size: 1em;
}

#createAccount {
    margin-left: auto;
    margin-right: 1em;
    order: 3;
}
.button {
    border: 0;
    background-color: rgb(50,53,55);
    padding: 1em;
    border-radius: 52px;
}
#login {
    order: 4;
}
#preferences {
    order: 5;
}

a {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;   
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: blue;
}

.header-wrapper {
    display: flex;  
    background-color: rgb(30, 32, 3);
    /* flex-flow: nowrap; */
    font-weight: bold;
    text-align: center; 
    padding: 1.5em;
    color: white;
    align-items: center;
}

body {
    background-color: rgb(19,21,22);
}
textarea:focus, input:focus{
    outline: none;
}

.body-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1200px; */
    color: white;
}
.left-container{
    width: 80%;
    background-color: rgb(37,40,42);
    margin: 1em;
    padding: 2em;  
}
.right-container{
    width: 20%;
    background-color: rgb(37,40,42);
    margin: 1em;
    padding: 2em;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* max-width: 1200px; */
    color: white;
    margin: 1em;
}

#spacer {
    border: 0;
    padding: 1em;
    border-radius: 5em;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    width: max-content;
}