h1,
h2,
h3,
body,
nav,
header,
footer,
p {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1.125em;
    border-bottom: 1px solid grey;
    margin-bottom: 0.5em;
}

nav {
    font-size: 1.125em;
}

body {
    font-size: 100%;
}

header {
    height: 6em;
    background-color: rgba(49,49,49,1);
}

.wrapper {
    display: flex;  
    flex-flow: nowrap;
    font-weight: bold;
    text-align: center; 
    padding: 1.5em;
    color: white;
    align-items: center;
}

#logo {
    order: 1;
}

#search {
    border: 0;
    background-color: #505050;
    padding: 1em;
    border-radius: 52px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;

    order: 2;
}

#createAccount {
    margin-left: auto;
    margin-right: 1em;
    order: 3;
}

#logIn {
    border: 0;
    background-color: #505050;
    padding: 1em;
    border-radius: 52px;

    order: 4;
}